
    <nav>
        <div class="logo">
            <a href="index.html">The Complete <em>Villa</em></a>
        </div>
      <div class="menu-icon" (click)="goBack()">
        <span></span>
      </div>
    </nav>

    <div class="page-heading" style='background-image: url("assets/img/header2.jpeg");'>
        <div class="container">
            <div class="heading-content">
                <h1>Property <em>Description</em></h1>
            </div>
          <div class="scroll-icon">
      </div>
        </div>
    </div>


    <div class="more-about-us" style='background-image: url("assets/img/bg.png");'>
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>The Complete Villa 🇸🇨</h2>
                    <p>7 mins walk from jetty but still in a very quiet and peaceful environment...<br>
                        LD 2002 is 1011 Square metre with the perfect combination of antique modern and island touch finishing.<br>
                        Unique in shape and many other ways<br>
                        💯 of love and art<br>
                        Table the best offer, make the first deposit and you'll miss nothing in your complete villa in 6-8 months.<br>
                        Includes:<br>
                        Swimming pool<br>
                        Staff facility<br>
                        Fish cleaning and laundry<br>
                        Store<br>
                        Flowers and Vegetablables garden<br>
                        Outdoor bar and eating area<br>
                        Road to your door<br>
                        Aluminium standing seam roof (also for fascia gutters and down pipe)<br>
                        Automation electrician<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2018 Company Name

    | Designed by TemplateMo</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="assets/img/contact-icon.png" alt=""></button>
    </div>

    <!-- Modal -->
<div id="modal" class="modal">
  <!-- Modal Content -->
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h3 class="header-title"><em>Say</em> hello <em>to us</em></h3>
      <div class="close-btn"><img src="assets/img/close_contact.png" alt=""></div>
    </div>
    <!-- Modal Body -->
    <div class="modal-body">
      <div class="col-md-6 col-md-offset-3">
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-md-12 custom-div">
              <h2>Property Seychelles &copy;</h2><br><br>
              <p class="text-left"><span class="text-danger">Address:</span> P.O. Box 142, Victoria Mahe, Seychelles</p>
              <p class="text-left"><span class="text-danger">Phone:</span>  <a href="tel:2484280900260" style="color: white">(248) 428 09 00 260</a></p>
              <p class="text-left"><span class="text-danger">Email:</span>  <a href="mailto:seychelles.property01@gmail.com" style="color: white">seychelles.property01@gmail.com</a></p>
            </div>
            <div class="col-md-12">
              <p>&nbsp;</p>
              <fieldset>
                <a href="mailto:seychelles.property01@gmail.com" style="color: white">Send Message Now</a>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
        <ul>
          <li>
            <a href="#" routerLink="/home">Home</a>
          </li>
          <li>
            <a href="#" routerLink="/description">Description</a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100068682701457" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/seychellesproperty/" target="_blank">Instagram</a>
          </li>
        </ul>              <p>We create awesome templates for you</p>
          </div>
        </div>
      </div>
    </section>
