
    <nav>
        <div class="logo">
            <a href="index.html">The Complete <em>Villa</em></a>
        </div>
      <div class="menu-icon" (click)="goBack()">
        <span></span>
      </div>
    </nav>

    <div class="page-heading" style='background-image: url("assets/img/header2.jpeg");'>
        <div class="container">
            <div class="heading-content">
                <h1>Property <em>Description</em></h1>
            </div>
        </div>
    </div>


    <div class="more-about-us" style='background-image: url("assets/img/bg.png");'>
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>The Complete Villa - La Digue 🇸🇨</h2>
                    <p>7 mins walk from jetty but still in a very quiet and peaceful environment...<br>
                        LD 2002 is 1011 Square metre with the perfect combination of antique modern and island touch finishing.<br>
                        Unique in shape and many other ways<br>
                        💯 of love and art<br>
                        Table the best offer, make the first deposit and you'll miss nothing in your complete villa in 6-8 months.<br>
                        Includes:<br>
                        Swimming pool<br>
                        Staff facility<br>
                        Fish cleaning and laundry<br>
                        Store<br>
                        Flowers and Vegetablables garden<br>
                        Outdoor bar and eating area<br>
                        Road to your door<br>
                        Aluminium standing seam roof (also for fascia gutters and down pipe)<br>
                        Automation electrician<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="item col-md-4 col-sm-6 col-xs-12" *ngFor="let index of blueprintIndexes">
        <a [href]='"https://seychellesproperty.github.io/seychelles/assets/present/" + index + ".jpeg"' data-lightbox="image-2"><div class="thumb">
          <div class="hover-effect">
            <div class="hover-content">
              <h1></h1>
              <p></p>
            </div>
          </div>
          <div class="image">
            <img [src]='"https://seychellesproperty.github.io/seychelles/assets/present/" + index + ".jpeg"' style="object-fit: cover; width: 600px; height: 450px;">
          </div>
        </div></a>
      </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2018 Company Name

    | Designed by TemplateMo</p>
            </div>
        </div>
    </footer>



    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
        <ul>
          <li>
            <a href="#" routerLink="/home">Home</a>
          </li>
          <li>
            <a href="#" routerLink="/description">Description</a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100068682701457" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/seychellesproperty/" target="_blank">Instagram</a>
          </li>
        </ul>              <p>We create awesome templates for you</p>
          </div>
        </div>
      </div>
    </section>
