  <nav>
  <div class="logo">
    <a href="index.html">The Complete <em>Villa</em></a>
  </div>
  <div class="menu-icon" (click)="goBack()">
    <span></span>
  </div>
</nav>

<div id="video-container">
  <div class="video-overlay"></div>
  <div class="video-content">
    <div class="inner">
      <h1>Present <em>Situation</em></h1>
      <p>This is how much of the project is already constructed</p>
    </div>
  </div>
  <img src="assets/img/bg.png" alt="" style="object-fit: cover; height: 100%; width: 100%">
</div>

<div class="masonry-portfolio" id="masonry">
  <div class="container-fluid">
    <div class="masonry">
      <div class="item col-md-4 col-sm-6 col-xs-12" *ngFor="let image of images">
        <a [href]="image.link" data-lightbox="image-1"><div class="thumb">
          <div class="hover-effect">
            <div class="hover-content">
              <h1>{{image.description}}</h1>
              <p></p>
            </div>
          </div>
          <div class="image">
            <img [src]="image.link" style="object-fit: cover; width: 600px; height: 450px;">
          </div>
        </div></a>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <div class="col-md-12">
      <p>Copyright &copy; 2021 Seychelles Property</p>
    </div>
  </div>
</footer>

<section class="overlay-menu">
  <div class="container">
    <div class="row">
      <div class="main-menu">
        <ul>
          <li>
            <a href="#" routerLink="/home">Home</a>
          </li>
          <li>
            <a href="#" routerLink="/description">Description</a>
          </li>
          <li>
            <a href="#" routerLink="/present">Present</a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100068682701457" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/seychellesproperty/" target="_blank">Instagram</a>
          </li>
        </ul>
        <p>We have the best properties for you.</p>
      </div>
    </div>
  </div>
</section>
